In [ ]:
# Code added for warnings
import warnings
warnings.filterwarnings('ignore')

from numpy import *
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.colors import ListedColormap
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neural_network import MLPClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.gaussian_process import GaussianProcessClassifier
from sklearn.gaussian_process.kernels import RBF
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis
import pandas as pd
import sklearn as sk
from sklearn import preprocessing
from sklearn import tree
import os

# input data
data_train=pd.read_csv('EIS-data-demo(52).csv',sep=',')

# Code added for error handling
data_train = data_train.replace([np.inf, -np.inf], np.nan)
data_train = data_train.dropna()

labels=data_train['Type'][:,np.newaxis]
features=data_train.drop('Type', axis=1)

X_train,X_test,Y_train,Y_test=train_test_split(features, labels, test_size=0.2, random_state=0)


names = ["Decision Tree", "Nearest Neighbors","Neural Net", "AdaBoost","Gaussian Process",
         "Random Forest", "Linear SVM", "RBF SVM", "Naive Bayes"]

classifiers = [
    DecisionTreeClassifier(criterion='gini', splitter='best', max_depth=None,
                            min_samples_split=2, min_samples_leaf=1, min_weight_fraction_leaf=0.0,
                            max_features=None, random_state=None, max_leaf_nodes=None,
                            min_impurity_decrease=0.0,
                            class_weight=None),
    KNeighborsClassifier(n_neighbors=2, weights='uniform', algorithm='auto',
                            leaf_size=30, p=2, metric='minkowski', metric_params=None, n_jobs=None),
    MLPClassifier(hidden_layer_sizes=(100, ), activation='relu',
                    solver='adam', alpha=1, batch_size='auto', learning_rate='constant',
                    learning_rate_init=0.001, power_t=0.5, max_iter=1000, shuffle=True,
                    random_state=None, tol=0.0001, verbose=False, warm_start=False,
                    momentum=0.9, nesterovs_momentum=True, early_stopping=False,
                    validation_fraction=0.1, beta_1=0.9, beta_2=0.999, epsilon=1e-08, n_iter_no_change=10),
    AdaBoostClassifier(base_estimator=None, n_estimators=50, learning_rate=1.0,
                        algorithm='SAMME.R', random_state=None),
    GaussianProcessClassifier(kernel=1.0 * RBF(1.0), optimizer='fmin_l_bfgs_b',
                                n_restarts_optimizer=0, max_iter_predict=100,
                                warm_start=False, copy_X_train=True,
                                random_state=None, multi_class='one_vs_rest', n_jobs=None),
    RandomForestClassifier(n_estimators=50, criterion='gini',
                            max_depth=None, min_samples_split=2, min_samples_leaf=1,
                            min_weight_fraction_leaf=0.0, max_features='auto', max_leaf_nodes=None,
                            min_impurity_decrease=0.0 , bootstrap=True,
                            oob_score=False, n_jobs=None, random_state=None, verbose=0,
                            warm_start=False, class_weight=None),
    SVC(kernel="linear", C=5, degree=3, gamma=0.35, coef0=0.0,
        shrinking=True, probability=False, tol=0.001, cache_size=200,
        class_weight=None, verbose=False, max_iter=-1,
        decision_function_shape='ovr', random_state=None),
    SVC(C=1.5, kernel='rbf', gamma=0.1),
    GaussianNB(priors=None, var_smoothing=1e-09)]

df_results = pd.DataFrame(data = None, columns = {"Classifier name", "Train score", "Test score"})

# iterate over classifiers
for name, clf in zip(names, classifiers):
    clf.fit(X_train, Y_train)
    score_test = clf.score(X_test, Y_test)
    score_train = clf.score(X_train, Y_train)
    print (name,score_test,score_train )
    df_results.loc[len(df_results)] = [name, score_train, score_test]

Decision Tree 0.5806451612903226 1.0
Nearest Neighbors 0.5483870967741935 0.725
Neural Net 0.5806451612903226 0.8916666666666667
AdaBoost 0.3225806451612903 0.3416666666666667
Gaussian Process 0.3870967741935484 0.39166666666666666
Random Forest 0.5806451612903226 1.0
Linear SVM 0.4838709677419355 0.8
RBF SVM 0.5483870967741935 0.725
Naive Bayes 0.41935483870967744 0.575

In [ ]:
df_results.to_csv("output.csv", sep = ",")

In [ ]:
df_results

         Train score  Classifier name  Test score
0      Decision Tree         1.000000    0.580645
1  Nearest Neighbors         0.725000    0.548387
2         Neural Net         0.891667    0.580645
3           AdaBoost         0.341667    0.322581
4   Gaussian Process         0.391667    0.387097
5      Random Forest         1.000000    0.580645
6         Linear SVM         0.800000    0.483871
7            RBF SVM         0.725000    0.548387
8        Naive Bayes         0.575000    0.419355

In [ ]:
df = pd.read_csv("Circuit_type_test.csv")

In [ ]:
df

,Z'1,Z'2,Z'3,Z'4,Z'5,Z'6,Z'7,Z'8,Z'9,Z'10,...,Z''42,Z''43,Z''44,Z''45,Z''46,Z''47,Z''48,Z''49,Z''50,Z''51
0,1310.0,1310.0,1320.0,1330.00,1340.00,1360.00,1380.00,1390.00,1410.0,1430.0,...,-26700.0,-29800.0,-33300.0,-36900.0,-40800.0,-44900.0,-49100.0,-53700.0,-58600.0,-63200.0
1,32.0,32.8,33.7,34.60,35.70,37.00,38.60,40.40,42.8,45.6,...,-8530.0,-9740.0,-11100.0,-12500.0,-14100.0,-15800.0,-17600.0,-19500.0,-21400.0,-23400.0
2,14.4,12.0,10.8,9.21,8.62,8.14,8.29,9.07,10.2,11.7,...,-3930.0,-4380.0,-4860.0,-5360.0,-5860.0,-6370.0,-6850.0,-7280.0,-7660.0,-7970.0
3,1310.0,1310.0,1320.0,1330.00,1340.00,1360.00,1380.00,1390.00,1410.0,1430.0,...,-26700.0,-29800.0,-33300.0,-36900.0,-40800.0,-44900.0,-49100.0,-53700.0,-58600.0,-63200.0

In [ ]:
df_original = pd.read_csv("EIS-data-demo(52).csv")

In [ ]:
df_original

,Type,Z'1,Z'2,Z'3,Z'4,Z'5,Z'6,Z'7,Z'8,Z'9,...,-Z''42,-Z''43,-Z''44,-Z''45,-Z''46,-Z''47,-Z''48,-Z''49,-Z''50,-Z''51
0,5,-0.462487,-0.453539,-0.444616,-0.440124,-0.431189,-0.431177,-0.417798,-0.404407,-0.395448,...,0.672143,0.048766,0.072143,0.087727,0.144870,0.212403,0.279935,0.357857,0.464351,0.617597
1,5,-0.389823,-0.380179,-0.365778,-0.346619,-0.332218,-0.313059,-0.274755,-0.255610,-0.226885,...,0.278553,0.215102,0.159264,0.093274,0.042513,0.017132,0.017132,-0.008249,-0.028553,-0.041244
2,5,-0.535711,-0.526347,-0.517032,-0.479925,-0.424240,-0.377819,-0.312870,-0.257184,-0.247870,...,0.648552,0.425388,0.318044,0.207874,0.159852,0.100530,0.063806,0.021434,-0.003990,-0.052013
3,5,-0.447050,-0.405969,-0.363334,-0.322359,-0.340893,-0.284501,-0.249988,-0.219887,-0.194296,...,-0.368974,-0.355549,-0.325344,-0.308564,-0.285071,-0.254866,-0.214593,-0.177676,-0.147471,-0.120622
4,5,-0.439524,-0.371594,-0.329627,-0.289935,-0.254098,-0.229652,-0.196314,-0.154820,-0.105808,...,-0.068113,-0.011538,0.012708,0.040995,0.061200,0.113734,0.162226,0.230924,0.299621,0.327909
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147,1,-0.404220,-0.404212,-0.404126,-0.402816,-0.402792,-0.398593,-0.396044,-0.393203,-0.391656,...,0.405945,0.406555,0.402280,0.391453,0.383235,0.368743,0.351586,0.323213,0.310720,0.265578
148,1,-0.503804,-0.486566,-0.485032,-0.467260,-0.466227,-0.449022,-0.448522,-0.431051,-0.430951,...,-0.198337,-0.182230,-0.206207,-0.196825,-0.200213,-0.190101,-0.176549,-0.186452,-0.154761,-0.169564
149,1,-0.496650,-0.479370,-0.463488,-0.463013,-0.446947,-0.429245,-0.429139,-0.412334,-0.395160,...,0.082572,0.061808,-0.020527,0.057159,0.033399,-0.086746,0.024824,-0.089742,-0.112159,-0.006271
150,1,-0.483518,-0.462668,-0.454438,-0.454692,-0.441708,-0.425048,-0.430180,-0.410355,-0.416694,...,-0.138269,-0.138269,-0.132777,-0.123854,-0.107380,-0.092966,-0.071687,-0.048447,-0.080610,-0.031875
151,1,-0.467921,-0.455368,-0.445623,-0.446848,-0.433281,-0.431398,-0.419040,-0.394824,-0.380139,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
classifiers[6]

SVC(C=5, gamma=0.35, kernel='linear')

In [ ]:
classifiers[6].predict(df)

array([2, 2, 2, 2])